<h1>Documents</h1>


<%= form_for @document do |f| %>
  <%= f.attachment_field :file %>
  <%= f.submit "Upload" %>
<% end %>

<ul class="list-group">
  <% if @documents.present? %>
    <% @documents.each do |document| %>
      <%= link_to attachment_url(document, :file), target: "_blank" do %>
          <li class="list-group-item">
            <%= document.file_filename %>
          </li>
      <% end %>
    <% end %>
  <% else %>
    <h3>There are no documents yet...</h3>
  <% end %>
</ul>
